<div class="order">
    <h3 ><i class="fas fa-users"></i>Users</h3>
</div>
<hr class="" style="border-color:#cfcfcf; margin-top:0;">
<div class="table-wrapper">
    <table class="fl-table">
        <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody >
        <tr *ngFor="let user of users$ | async">
            <td>{{user.username}}</td>
            <td>{{user.email}} </td>
            <td><button (click)="deleteUser(user.id)"class="fa fa-trash trash" aria-hidden="true"></button></td>
        </tr>
        
        <tbody>
    </table>
</div>