<div class="container">
  <div class="text-center" *ngIf="loadingAddress== true">
    <div class="lds-roller">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
  <div class="row " *ngIf="loadingAddress== false">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
      <div class="purchase" style="border: 1px solid #cfcfcf; padding:20px; margin-top:20px;">
        <h2 class="">{{'order.purchaseOrder' | translate}}</h2>
        <div class="row" style="margin-top:40px;">
          <div class="col-lg-10">
            <h4 class="">{{'order.myProducts' | translate}}</h4>
          </div>
          <div class="">
          </div>
          <div class="col-lg-1">
            <h4 style="margin-left:10px;" class="">SubTotal</h4>
          </div>
        </div>
        <hr style="margin-top:0">
        <div>
          <div class="container-fluid" *ngFor="let item of items">
            <div class="row" >
              <div class="col-lg-11">
                <div class="product">
                  <h5 class="">{{item.product.name}}</h5>
                </div>
              </div>
              <div class="col-lg-1">
                <div class="subtotal">
                  <h5 class="">${{item.product.price}}</h5>
                </div>
              </div>
            </div>
            <hr>
          </div>
        </div>
        <div>
          <div class="container-fluid">
            <div class="row">
              <div class="col-lg-11">
                <div class="product">
                </div>
              </div>
              <div class="col-lg-1">
                <div class="subtotal">
                  <h5 class="">{{'order.total' | translate}}</h5>
                  <h6 class="">{{total}}</h6>
                </div>
              </div>
            </div>
            <hr>
          </div>
        </div>
        <div>
        <div class="text-center" style="margin-bottom: 40px;">
          <h3 class="">{{'order.billing' | translate}}</h3>
        </div>
        <div class="">
            <div class="" [hidden]="hideCheckExistingAddress">
              <div class="radio" >
                <label>
                  <input (click)="useAddres()" type="radio" checked="checked" value="existing" name="payment_address" data-id="payment-existing"> {{'order.address' | translate}}</label>
              </div>
            </div>
            <form action="" [formGroup]="orderForm" class="" (ngSubmit)="addOrder()">
              <div id="payment-existing" [hidden]="hideExistingAddress">
                <select class="form-control select" formControlName="address_id">
                  <option  [value]="address.id" selected="selected" *ngFor="let address of addresses">{{address.address}}, {{address.city}}, {{address.postal_code}},{{address.name}} {{address.surname}}, {{address.telephone_number}}</option>
                </select>
                <div class="alert alert-danger" role="alert" 
                *ngIf="!orderForm.get('address_id')?.valid && orderForm.get('address_id')?.touched">
                Field required.
             </div>
              </div>
           </form>
       </div>
        <div class="">
          <div class="radio" style="margin-top:40px;" [hidden]="hideCheckNewAddress">
            <label [hidden]="hideCheckNewAddress">
              <input type="radio" (click)="displayNewAddress()" value="new" name="payment_address" data-id="payment-new"> {{'order.newAddress' | translate}}</label>
          </div>
        </div>
        <div class="text-center" [hidden]="hiddenButton">
          <button (click)="addOrder()" class="btn btn-yellow" >{{'order.order' | translate}}</button>
        </div>
          <form [formGroup]="formAddress" action="" method="post" (ngSubmit)="addAddress()" [hidden]="hideNewAddressForm">
            <div class="container-fluid">
              <div class="row">
                <div class="col-lg-6">
                  <div class="product">
                    <label for="">Name</label>
                    <input type="text" class="input modal-input" formControlName="name">
                    <p *ngIf="formAddress.get('name')?.errors?.required && formAddress.get('name')?.touched" class="paragraph-input">*this field is required</p>
                    <p *ngIf="formAddress.get('name')?.errors && formAddress.get('name')?.touched" class="paragraph-input"> Field is not correct</p>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="subtotal">
                    <label for="">Surname</label> 
                    <input type="text" class="input modal-input" formControlName="surname">
                    <p *ngIf="formAddress.get('surname')?.errors?.required && formAddress.get('surname')?.touched" class="paragraph-input">*this field is required</p>
                    <p *ngIf="formAddress.get('surname')?.errors && formAddress.get('surname')?.touched" class="paragraph-input"> Field is not correct</p>

                  </div>
                </div>
              </div>
              <div class="row" style="margin-top:20px;">
                <div class="col-lg-6">
                  <div class="product">
                    <label for="">Telephone</label>
                    <input type="text" class="input modal-input" formControlName="telephone_number">
                    <p *ngIf="formAddress.get('telephone_number')?.errors?.required && formAddress.get('telephone_number')?.touched" class="paragraph-input">*this field is required</p>
                    <p *ngIf="formAddress.get('telephone_number')?.errors && formAddress.get('telephone_number')?.touched" class="paragraph-input"> Field is not correct</p>

                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="product">
                    <label for="">Address</label>
                    <input type="text" class="input modal-input" formControlName="address">
                    <p *ngIf="formAddress.get('address')?.errors?.required && formAddress.get('address')?.touched" class="paragraph-input">*this field is required</p>
                    <p *ngIf="formAddress.get('address')?.errors && formAddress.get('address')?.touched" class="paragraph-input"> Field is not correct</p>

                  </div>
                </div>
              </div>
              <div class="row" style="margin-top:20px;">
                <div class="col-lg-6">
                  <div class="product">
                    <label for="">City</label>
                    <input type="text" class="input modal-input" formControlName="city">
                    <p *ngIf="formAddress.get('city')?.errors?.required && formAddress.get('city')?.touched" class="paragraph-input">*this field is required</p>
                    <p *ngIf="formAddress.get('city')?.errors && formAddress.get('city')?.touched" class="paragraph-input"> Field is not correct</p>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="product">
                    <label for="">PostalCode</label>
                    <input type="text" class="input modal-input" formControlName="postal_code">
                    <p *ngIf="formAddress.get('postal_code')?.errors?.required && formAddress.get('postal_code')?.touched" class="paragraph-input">*this field is required</p>
                    <p *ngIf="formAddress.get('postal_code')?.errors && formAddress.get('postal_code')?.touched" class="paragraph-input"> Field is not correct</p>

                  </div>
                </div>
            </div>
              <div class="text-center" style="margin-top:40px;">
                <button type="submit" class="btn btn-yellow">Add address</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-lg-2"></div>
  </div>
</div>