<div class="navbar">
  <div class="text-center center">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" [routerLink]="['/account']">Account Information</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" [routerLink]="['/account/orders']">Orders </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" [routerLink]="['/account/address']">Address </a>
      </li>
    </ul>
  </div>
</div>
  <!-- =====  BANNER STRAT  ===== -->
  <div class="text-center" *ngIf="(loadingUser | async ) === true || (loadingAddress | async) === true">
    <div class="lds-roller">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>

<div class="text-center all"  *ngIf="(loadingUser | async ) === false || (loadingAddress | async) === false">
  <h2 class=" account">Information</h2>
    <div class="row" >
      <div class="col-md-12">
        <div class="tab-content ">
          <div class="tab-pane active" id="r1" >
            <div class="heading-part">
            </div>
            <div class="row" >
              <div class="col-sm-6">
                <div class="cart-total-table address-box commun-table">
                  <div class="table-responsive">
                    <table class="table account-table" *ngIf="(user | async) as user">
                      <thead>
                        <tr>
                          <th>Account</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>
                            <ul>
                              <li class="inner-heading">
                                <b>Username</b>
                              </li>
                              <li>
                                <p>{{user.username}}</p>
                              </li>
                              <li>
                                <b>Email</b>
                                <p>{{user.email}}</p>
                              </li>   
                              <li class="button-update">
                                <button class="btn btn-primary bottoni"  [routerLink]="['/account/updateProfile']">Update Profile</button>
                              </li>                             
                            </ul>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
              </div>
            </div>
          </div>    
         
        </div>
      </div>
    </div>
  </div>
  
