<div class="container">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <div class="form">
                <div class="" style="margin-bottom:20px;">
                    <h3 class="">Add Product</h3>
                    <hr>
                </div>
                <form >
                <div class="row">
                  <div class="form-group col-lg-6">
                    <label for="exampleInputEmail1" style=" font-size:14px;">Name</label>
                    <input type="text" style="text-align:center; font-size:12px;" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="name">
                  </div>
                  <div class="form-group col-lg-6">
                    <label for="exampleInputPassword1" style=" font-size:14px;">Price</label>
                    <input type="text" style="text-align:center;font-size:12px;"class="form-control" id="exampleInputPassword1" formControlName="price">
                  </div>
                </div>              
                  <div class="form-group">                   
                    <label for="exampleInputPassword1" style=" font-size:14px;">Description</label>
                    <textarea  style="font-size:12px;"class="form-control" id="exampleInputPassword1" formControlName="description"></textarea>
                  </div>
                  <div class="row">
                        <div class="form-group col-lg-9">
                        <label for="exampleFormControlFile1" style=" font-size:14px;">Image</label>
                        <input type="text" class="form-control-file" formControlName="photo" id="exampleFormControlFile1">
                        </div>
                        <div class="form-group col-lg-3" style="margin-top:25px;">
                            <label for="exampleFormControlFile1" style=" font-size:14px;">Type</label>
                            <select name="" id="" class="">
                                <option value="" class="">PC</option>
                                <option value="" class="">phone</option>
                                <option value="" class="">tablet</option>
                            </select>
                       </div>
                  </div>
                  <div class="text-center">
                    <button type="submit" class="btn btn-primary" style="margin-top:7%; width:50%;">Submit</button>
                </div>
                </form>
            </div>
        </div>
        <div class="col-lg-1"></div>       
    </div>
</div>