@import url('~admin-lte/dist/css/adminlte.css');
@import url('~admin-lte/plugins/fontawesome-free/css/all.min.css');
@import url("~bootstrap/dist/css/bootstrap.css");
@import url("~admin-lte/dist/css/adminlte.min.css");


.form{
    background-color:white;
    padding:30px;
    height:100%;
}

.form-control.ng-valid{
    border:1px solid green;
}

.errors{
    color:  red;
}

.add-product{
    background-color:rgb(255,193,8) !important;
    border:none; 
}