<div class="container">
    <!-- =====  BANNER STRAT  ===== -->
    <!-- =====  BREADCRUMB END===== -->
    <div class="text-center" style="height: 60px;">
      <h2 style="margin-top:30px;"class="">Products</h2>
    </div>
      <hr>
    <div class="row">
     
      <div class="col-lg-1"></div>
      <div class="col-lg-11 mb_30" id="col4">
        <div class="row" id="data">
          <div class="product-layout product product-grid  col-lg-3 col-md-4 col-xs-6 " *ngFor="let product of products  | paginate: {
          itemsPerPage: 8,
          currentPage: page,
          totalItems: totalLength 
        }">
        <div class="">
          <div class="card card-shadow">
              <div class="imgBx">
                  <img src="{{product.photo}}" [routerLink]="['products' + product.id]">
              </div>
      
              <div class="contentBx">
      
                  <h2 >{{product.name}}</h2>
                  <a  [routerLink]="['/products/' + product.id]" style="margin-top:40px;">Buy Now</a>
              </div>

          </div>
        </div>

          </div>
        </div>
        <div class=" text-center mt_50" id="navProduct">
         <pagination-controls class=""  (pageChange)="page = $event"></pagination-controls>
        </div>
      </div>
      <div class=""></div>
    </div>
  </div>

 