<div class="container">
  <div class="main-body">
        <div class="row gutters-sm">
          <div class="col-md-4 mb-3">
            <div class="card" style="padding-bottom: 25px;">
              <div class="card-body">
                <div class="d-flex flex-column align-items-center text-center">
                  <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
                  <div class="mt-3">
                    <h4>John Doe</h4>
                    <p class="text-secondary mb-1">Admin</p>
                    <button class="btn btn-primary">Follow</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-8" *ngIf="admin != undefined">
            <div class="card mb-3" style="padding-bottom: 17px; height:270px;" >
              <div class="card-body" >
                <div class="row" style="margin-top:3%;">
                  <div class="col-sm-3">
                    <h3 class="mb-0">Username</h3>
                  </div>
                  <div class="col-sm-9 text-secondary">
                  <h4 class="">{{admin.username}}</h4> 
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h3 class="mb-0">Email</h3>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    <h4 class=""> {{admin.email}}</h4>                  
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="text-center" style="margin-top:80px;">
                    <a class="text-muted">
                      <input type="checkbox" id="modal">
                      <label for="modal"  style="width:30%;height:90%;font-size:14px" (click)="setValueForm(admin.username, admin.email)" class="btn btn-primary" >Edit</label>
                      <label for="modal"  class="modal-background"></label>
                      <div class="modal" style="width: 40%;height: 40%;overflow-y:scroll;">
                        <div class="modal-header" >
                          <h3>Update Profile </h3>
                              <label for="modal">
                                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAdVBMVEUAAABNTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU0N3NIOAAAAJnRSTlMAAQIDBAUGBwgRFRYZGiEjQ3l7hYaqtLm8vsDFx87a4uvv8fP1+bbY9ZEAAAB8SURBVBhXXY5LFoJAAMOCIP4VBRXEv5j7H9HFDOizu2TRFljedgCQHeocWHVaAWStXnKyl2oVWI+kd1XLvFV1D7Ng3qrWKYMZ+MdEhk3gbhw59KvlH0eTnf2mgiRwvQ7NW6aqNmncukKhnvo/zzlQ2PR/HgsAJkncH6XwAcr0FUY5BVeFAAAAAElFTkSuQmCC" width="16" height="16" alt="">
                              </label>
                          </div>
                        <div class="text-center">
                          <div class="container" style="margin-top:7%;">
                              <form [formGroup]="updateProfileForm" method="Put" (ngSubmit)="updateProfile()">
                                <div class="form-group">
                                  <label for="exampleInputEmail1" style=" font-size:14px;">Name</label>
                                  <input type="text" style="text-align:center; font-size:12px;" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="username">
                                </div>
                                <div class="form-group">
                                  <label for="exampleInputPassword1" style=" font-size:14px;">Email</label>
                                  <input type="text" style="text-align:center;font-size:12px;"class="form-control" id="exampleInputPassword1" formControlName="email">
                                </div>
                                <button type="submit" class="btn btn-primary" style="margin-top:7%; width:50%;">Submit</button>
                              </form>                     
                          </div>
                      </div>
                    </div>
                    </a>
                  </div>                
                </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
  </div>

<div class="card">
    <div class="card-header border-0">
      <h3 class="card-title">Online Store Overview</h3>
      <div class="card-tools">
        <a href="#" class="btn btn-sm btn-tool">
          <i class="fas fa-download"></i>
        </a>
        <a href="#" class="btn btn-sm btn-tool">
          <i class="fas fa-bars"></i>
        </a>
      </div>
    </div>
    <div class="card-body">
      <div class="d-flex justify-content-between align-items-center border-bottom mb-3">
        <p class="text-success text-xl">
          <i class="ion ion-ios-refresh-empty"></i>
        </p>
        <p class="d-flex flex-column text-right">
          <span class="font-weight-bold">
            <i class="ion ion-android-arrow-up text-success"></i> 12%
          </span>
          <span class="text-muted">CONVERSION RATE</span>
        </p>
      </div>
      <!-- /.d-flex -->
      <div class="d-flex justify-content-between align-items-center border-bottom mb-3">
        <p class="text-warning text-xl">
          <i class="ion ion-ios-cart-outline"></i>
        </p>
        <p class="d-flex flex-column text-right">
          <span class="font-weight-bold">
            <i class="ion ion-android-arrow-up text-warning"></i> 0.8%
          </span>
          <span class="text-muted">SALES RATE</span>
        </p>
      </div>
      <!-- /.d-flex -->
      <div class="d-flex justify-content-between align-items-center mb-0">
        <p class="text-danger text-xl">
          <i class="ion ion-ios-people-outline"></i>
        </p>
        <p class="d-flex flex-column text-right">
          <span class="font-weight-bold">
            <i class="ion ion-android-arrow-down text-danger"></i> 1%
          </span>
          <span class="text-muted">REGISTRATION RATE</span>
        </p>
      </div>
      <!-- /.d-flex -->
    </div>
  </div>