<div class="container" style="margin-top:70px;">
    <div class="row">
        <div class="col-lg-2">
        </div>
        <div class="col-lg-8">
            <h1 >Terms and Condition</h1>
            <hr style="border-color:grey;">
            <div>
                <p>Le licenze di Creative Commons sul diritto d'autore e gli strumenti creano un equilibrio all'interno del tradizionale ambiente dei "Tutti i diritti riservati" che le leggi sul copyright creano. I nostri strumenti danno a chiunque dai creatori individuali alle grandi compagnie ed istituzioni un semplice, standardizzato modo di garantirne il rispetto dei permessi sul diritto d'autore ai loro lavori creativi. La combinazione dei nostri strumenti ed i nostri utenti è un vasto ed in crescita bene comune digitale, un pozzo di contenuti che possono essere copiati, distribuiti, modificati, miscelati, ed usati come base di partenza, tutto entro i limiti della legge sul copyright.</p>
            </div>
            <hr style="border-color:grey;">
            <h1 >Free use of Moonstore</h1>
            <div>
                <p>npm may change these Terms and the additional terms for Paid Services in the future. npm will post changes on the Website with a new "last updated" date. If you have an Account, npm will notify you of changes by email to the address provided for your Account, by a message on the Website, or both. If you do not have an account, npm may notify you of changes by a general announcement via the Website, but it is up to you to check for changes to these Terms. After receiving notice of changes to these Terms, you must accept those changes to continue using npm Services. You accept changes to these Terms by continuing to use npm Services. npm may change, suspend, or discontinue npm Services at any time without notice or liability to you.</p>
            </div>
        </div>
         <div class="col-lg-2">
        </div>
    </div>


</div>

