<div class="order">
    <h3 ><img class="word-order" src="../../../../assets/icons/icons8-purchase-order-30.png">{{'adminOrders.orders' | translate}}</h3>
</div>
<hr class="" style="border-color:#cfcfcf; margin-top:0;">
<div class="table-wrapper">
    <table class="fl-table">
        <thead>
        <tr>
            <th>{{'adminOrders.code' | translate}}</th>
            <th>{{'adminOrders.date' | translate}}</th>
            <th>Username</th>
            <th>Email</th>
            <th>{{'adminOrders.total' | translate}}</th>
            <th>{{'adminOrders.delete' | translate}}</th>
        </tr>
        </thead>
        <tbody >
        <tr *ngFor="let order of orders$ | async">
            <td>{{order.code}}</td>
            <td>{{order.created_at | date}}</td>
            <td>{{order.user?.username | json}} </td>
            <td>{{order.user?.email | json}} </td>
            <td>${{order.total}} </td>
            <td><button class="fa fa-trash trash" (click)="deleteOrder(order.id)"aria-hidden="true"></button></td>
        </tr>        
        <tbody>
    </table>
</div>