<div class="order">
    <h3 ><img class="word-order" src="../../../../assets/icons/icons8-purchase-order-30.png">Orders</h3>
</div>
<hr class="" style="border-color:#cfcfcf; margin-top:0;">
<div class="table-wrapper">
    <table class="fl-table">
        <thead>
        <tr>
            <th>Code</th>
            <th>Date</th>
            <th>Username</th>
            <th>Email</th>
            <th>Total</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody >
        <tr *ngFor="let order of orders$ | async">
            <td>{{order.code}}</td>
            <td>{{order.created_at | date}}</td>
            <td>{{order.user.username}} </td>
            <td>{{order.user.email}} </td>
            <td>${{order.total}} </td>
            <td><button class="fa fa-trash trash" aria-hidden="true"></button></td>
        </tr>
        
        <tbody>
    </table>
</div>