
  <div class="wrapper">
    <!-- =====  HEADER START  ===== -->
    <header id="header">
      <div class="header-top">
        <div class="container">
          <div class="row">
            <div class="col-sm-6">
              <ul class="header-top-left"> 
               <select (change)="selectLanguage($event)" name="" id="language" class="language-picker" >
                <option selected value="en">english</option>
                 <option value="it">italian</option>
               </select>
              </ul>
            </div>
            <div class="col-sm-6">
              <ul class="header-top-right text-right">
                <li class="account" *ngIf="isAdmin()"><a [routerLink]="['/admin']">{{'navbar.administration' | translate}}</a></li>
                <li class="account" *ngIf="!isAdmin()"><a [routerLink]="['/account']">{{'navbar.account' | translate}}</a></li>
                <li class="cart"><a [routerLink]="['/cart']" >{{'navbar.cart' | translate}}</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="header">
        <div class="container navbarContainer">
          <nav class="navbar py-0 m-0">
            <div class="navbar-header"> <a class="navbar-brand" [routerLink]="['/home']"> <img alt="MoonStored" src="/assets/images/logo.png"> </a> </div>
            <div class="header-right pull-right mt_50">
              <button class="navbar-toggle pull-right" type="button" data-toggle="collapse" data-target=".js-navbar-collapse"> <span class="i-bar"><i class="fa fa-bars"></i></span></button>
             
              <div class="main-search pull-right">
                <div class="header_search_toggle desktop-view" *ngIf="isLoggedIn()">
                    <div class="search-box">
                      <button class="btn btn-yellow" style="font-size:11px" (click)="logout()">Log-Out</button>
                    </div>
                </div>
                <div class="header_search_toggle desktop-view" *ngIf="!isLoggedIn()">
                  <div class="search-box">
                    <button class="btn btn-yellow" style="font-size:11px" [routerLink]="['/signIn']">Login</button>
                  </div>
              </div>
              </div>
            </div>
            <div class="collapse navbar-collapse js-navbar-collapse pull-right">
              <ul id="menu" class="nav navbar-nav">
                <li> <a [routerLink]="['/home']">Home</a></li>
                <li class="dropdown mega-dropdown">
                  <ul class="dropdown-menu mega-dropdown-menu row">
                    <li class="col-md-3">
                    
                    </li>
                  </ul>
                </li>
                <li class="dropdown"> <a  [routerLink]="['/products/']" class="dropdown-toggle" data-toggle="dropdown">Shop </a>
                  <ul class="dropdown-menu">
                    <li> <a  [routerLink]="['/products/type/computer']" >PC</a></li>
                    <li> <a   [routerLink]="['/products/type/phone']" >Phone</a></li>
                    <li> <a   [routerLink]="['/products/type/tablet']" >Tablet</a></li>
                  </ul>
                </li>
              </ul>
            </div>
            <!-- /.nav-collapse -->
          </nav>
        </div>
      </div>
    </header>