<div class="navbar">
    <div class="text-center center">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" [routerLink]="['/account']">Account Information</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" [routerLink]="['/account/orders']">Orders </a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" [routerLink]="['/account/address']">Address </a>
          </li>
      </ul>
    </div>
  </div>
<div class="text-center">
<h2 class="">My Address</h2>
</div>    
    <div class="container" style="display:flex; flex-direction:row; flex-wrap: wrap; margin-top:50px;justify-content:center; justify-content:space-between;">
        <div class="cart-total-table address-box commun-table item">
            <div class="table-responsive">
                <table class="table account-table" style="height:245px;">
                    <thead>
                        <tr>
                            <th>
                                <div class="text-center">
                                    <h5 class=""><b class="">Add New Address</b></h5>

                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <ul>
                                    <li class="inner-heading">
                                        <div class="text-center">
                                            <div class="section">
                                                <input class="modal-btn" type="checkbox" id="modal-btn"
                                                    name="modal-btn" />
                                                <label for="modal-btn">Add a Shipping Address <i
                                                        class="uil uil-expand-arrows"></i></label>
                                                <div class="modal">
                                                    <div class="modal-wrap">
                                                        <h2 class="title">Insert Address</h2>
                                                        <div class="text-center">
                                                            <form action="" [formGroup]="formAddress" class="" class="main-form full" (ngSubmit)="createAddress()"
                                                                method="POST">
                                                                <label for="" class="input"> Name
                                                                    <input class="modal-input" type="text" formControlName="name"
                                                                        placeholder="Name">
                                                                </label>
                                                                <label for="" class="input"> Surname
                                                                    <input class="modal-input" type="text" formControlName="surname"
                                                                        placeholder="Name">
                                                                </label>
                                                                <label for="" class="input"> Telephone
                                                                    <input class="modal-input" type="text" formControlName="telephone_number"
                                                                        placeholder="Telephone number">
                                                                </label>
                                                                <label for="" class="input"> Address
                                                                    <input class="modal-input" type="text" formControlName="address"
                                                                        placeholder="Address">
                                                                </label>
                                                                <br>
                                                                <label for="" class="">
                                                                    <button class="btn">Subscribe</button>
                                                                </label>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                                <a href="https://front.codes/" class="logo" target="_blank"></a>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <p></p>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="cart-total-table address-box commun-table item" *ngFor="let address of addresses | async">
            <div class="table-responsive">
                <table class="table account-table">
                    <thead>
                        <tr>
                            <th>
                                <div class="text-center">
                                    <h5 class=""><b class="">Address</b></h5>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr style="border:none;">
                            <td style="border:none;">
                                <ul>
                                    <li class="inner-heading">
                                        <h5 class="">Name: {{address.name}}</h5>
                                    </li>
                                    <li>
                                        <p></p>
                                    </li>
                                    <li>
                                        <h5 class="">Surname: {{address.surname}}</h5>
                                        <p></p>
                                    </li>
                                    <li>
                                        <h5 class="">Telephone: {{address.telephone_number}}</h5>
                                        <p></p>
                                    </li>
                                    <li>
                                        <h5 class="">Address: {{address.address}}</h5>
                                        <p></p>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        <div class="text-center">
                            <button [routerLink]="['/account/address/'+ address.id]"style="width:50%; font-size:12px;" class="btn btn-yellow">Update Address</button>
                        </div>
                    </tbody>
                </table>
            </div>
        </div>
        
    </div>
