<div class="text-center m-0">
  <div class="banner">
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide *ngFor="let image of images">
        <img src="{{image.image}}" alt="" class="">
      </ng-template>
    </owl-carousel-o>
  </div>
</div>
<!-- =====  BANNER END  ===== -->
<!-- =====  CMS_BANNER START  ===== -->

<!-- =====  CMS_BANNER END  ===== -->
<!-- =====  CONTAINER START  ===== -->
<div class="container">
  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
      <!-- =====  PRODUCT TAB  ===== -->
      <div id="product-tab">
        <div class="heading-part text-center mt_80 mb_20 ">
          <h2 class="main_title">{{'homePage.mostViewd' | translate}}</h2>
        </div>
        <ul class="nav text-right mb_30">
          <li class="active"> <a data-toggle="tab">{{'homePage.popular' | translate}}</a> </li>
        </ul>
        <div class="tab-content clearfix box">
          <div class="tab-pane active" id="nArrivals">
            <div class="row" id="data">
              <div class="product-layout product product-grid  col-lg-3 col-md-4 col-xs-6 "
                *ngFor=" let  indexOfelement=index;  let product of products$ | async">
                <div class="" *ngIf="indexOfelement <= 3">
                  <div class="card card-shadow">
                    <div class="imgBx">
                      <img src="{{product.photo}}" style="cursor: pointer;" [routerLink]="['/products/' + product.id]">
                    </div>

                    <div class="contentBx">

                      <h2>{{product.name}}</h2>
                      <a [routerLink]="['/products/' + product.id]" style="margin-top:40px;">Buy Now</a>
                    </div>

                  </div>

                </div>
              </div>
              <div class=" text-center mt_50" id="navProduct">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-0"></div>
  </div>
</div>
<div class="perellex-two mtb_80 ptb_100">
  <div class="container">
    <div class="col-md-12">
      <div class="client owl-carousel text-center">
        <div class="item client-detail">
          <div class="client-avatar"> <img alt="" src="/assets/images/t1.png"> </div>
          <div class="client-title  mt_30"><strong>Janet Wilson</strong></div>
          <div class="client-designation mb_10">Web Developer</div>
          <p><i class="fa fa-quote-left" aria-hidden="true"></i>Rem ipsum doLoremRem ipsum doLorem ipsum ipsum doLorem
            ipsum ut labore et dolore ma ipsum ut labore etdolore ipsum doLorem ipsum ut labore et dolore mamagna. Lorem
            ipsumut labore et dolore mamagna. Lorem ipsum doLorem ipsum dolor sit amet, consectetur adipisicing.</p>
        </div>
        <div class="item client-detail">
          <div class="client-avatar"> <img alt="" src="/assets/images/t2.png"> </div>
          <div class="client-title  mt_30"><strong>Linda Howard</strong></div>
          <div class="client-designation mb_10">PHP Developer</div>
          <p><i class="fa fa-quote-left" aria-hidden="true"></i>Rem ipsum doLoremRem ipsum doLorem ipsum ipsum doLorem
            ipsum ut labore et dolore ma ipsum ut labore etdolore ipsum doLorem ipsum ut labore et dolore mamagna. Lorem
            ipsumut labore et dolore mamagna. Lorem ipsum doLorem ipsum dolor sit amet, consectetur adipisicing.</p>
        </div>
        <div class="item client-detail">
          <div class="client-avatar"> <img alt="" src="/assets/images/t3.png"> </div>
          <div class="client-title  mt_30"><strong>joseph Lui</strong></div>
          <div class="client-designation mb_10">Web Designer</div>
          <p><i class="fa fa-quote-left" aria-hidden="true"></i>Rem ipsum doLoremRem ipsum doLorem ipsum ipsum doLorem
            ipsum ut labore et dolore ma ipsum ut labore etdolore ipsum doLorem ipsum ut labore et dolore mamagna. Lorem
            ipsumut labore et dolore mamagna. Lorem ipsum doLorem ipsum dolor sit amet, consectetur adipisicing.</p>
        </div>
      </div>
    </div>
  </div>
</div>