
<div class="container">
    <!-- =====  BANNER STRAT  ===== -->
  <div class="text-center" *ngIf="(loading$ | async) == true">
    <div class="lds-roller">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
    <!-- =====  BREADCRUMB END===== -->
  <div *ngIf="(loading$ | async) == false">   
    <div class="row " *ngIf="(product$ | async) as product">
      <div class="col-sm-8 col-md-8 col-lg-9 mb_30">
        <div class="row mt_10 ">
        <form  [formGroup]= "formGroup" method="POST" (ngSubmit)="addCartItem(product.id)"> 
          <div class="col-md-6">
           <div><a class="thumbnails"> <img data-name="product_image" src="{{product.photo}}" href="" alt="" /></a></div> 
            <div id="product-thumbnail" class="owl-carousel">
              <div class="item">
                <div class="image-additional"><a class="thumbnail"  data-fancybox="group1"></a></div>
              </div>
            </div>
          </div>
          <div class="col-md-6 prodetail caption product-thumb">
            <h4 data-name="product_name" class="product-name"><a href="#" title="Casual Shirt With Ruffle Hem">{{product.name}}</a></h4>
            <div class="rating">
              <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span>
              <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span>
              <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span>
              <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span>
              <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-x"></i></span>
            </div>
            <span class="price mb_20"><span class="amount"><span class="currencySymbol">$</span>{{product.price}}</span>
            </span>
            <hr>
            <ul class="list-unstyled product_info mtb_20">
              <li>
                <label>Brand:</label>
                <span> <a href="#">Apple</a></span></li>
              <li>
                <label>Product Code:</label>
                <span> product 20</span></li>
              <li>
                <label>Availability:</label>
                <span> In Stock</span></li>
            </ul>
            <hr>
            <p class="product-desc mtb_30"> {{product.description}}</p>
            <div id="product">
              <div class="qty mt_30 form-group2">
                <label>Qty</label>
                <input formControlName="quantity" name="product_quantity" min="1" max="5" value="1" type="number">
                <div class="alert alert-danger" role="alert" 
                *ngIf="!formGroup.get('quantity')?.valid && formGroup.get('quantity')?.touched">
                Insert a different quantity
             </div>
              </div>
              <div class="button-group mt_30">
                <button [disabled]="!formGroup.get('quantity')?.valid" type="submit" value="Add to cart" style="background-color: #ffca28; color: black; border: none;">Add to cart</button>
              </div>
            </div>
          </div>
        </form>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div id="exTab5" class="mtb_30">
              <ul class="nav nav-tabs">
                <li><a href="#2c" data-toggle="tab">Reviews</a> </li>
              </ul>
              <div class="tab-content" *ngFor="let review of reviews$ | async">
                <div class="card">
                  <div class="card-top">
                      <div class="name">
                          <div class="img one" alt="">NF</div>
                          <p>{{review.username}}</p>
                      </div>
                  </div>
      
                  <div class="card-content">
                      <p>{{review.review}}</p>
                      <button class="delete-review btn btn-warning" (click)="deleteProductReview(review.id)">Delete review</button>
                  </div>
              </div>
              <hr style="margin:0; border-color:rgb(194, 181, 181)">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>