
<div class="container">
    <!-- =====  BANNER STRAT  ===== -->
  <div class="text-center" *ngIf="(loading$ | async) == true">
    <div class="lds-roller">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
    <!-- =====  BREADCRUMB END===== -->
  <div *ngIf="(loading$ | async) == false">   
    <div class="row " *ngIf="(product$ | async) as product">
      <div class="col-sm-8 col-md-8 col-lg-9 mb_30">
        <div class="row mt_10 ">
          <div class="wrapper">
            <div class="product-img">
              <img src="{{product.photo}}" height="420" width="327">
            </div>
          <form action="" [formGroup]= "formGroup" method="POST" (ngSubmit)="addCartItem(product.id)">
            <div class="product-info">
              <div class="product-text">
                <h1>{{product.name}}</h1>
                <p>{{product.description}}</p>
                <h3 style="margin-left:40px;margin-top:20px;"class="">{{'singleProduct.price' | translate}}</h3>
                <h4  style="margin-left:43px;"class="">{{product.price}}$</h4>
              </div>
             
              <div class="product-price-btn" style="margin-left:40px;">
                <label for="" class="">Qty
                  <input class="quantity-input" formControlName="quantity" name="product_quantity" min="1" max="5" value="1" type="number">
                </label>
                <button style="margin-right:20px;" type="submit">{{'singleProduct.buyNow' | translate}}</button>
              </div>
            </div>
          </form>
        </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div id="exTab5" class="mtb_30">
              <ul class="nav nav-tabs">
                <li><h3 style ="color:grey"href="#2c" data-toggle="tab">{{'singleProduct.reviews' | translate}}</h3> </li>
              </ul>
              <div class="tab-content" *ngFor="let review of reviews$ | async">
                <div class="card">
                  <div class="card-top">
                      <div class="name">
                          <div class="img one" alt="">NF</div>
                          <p>{{review.username}}</p>
                      </div>
                  </div>
      
                  <div class="card-content">
                      <p>{{review.review}}</p>
                      <button class="delete-review btn btn-warning" (click)="deleteProductReview(review.id)">Delete review</button>
                  </div>
              </div>
              <hr style="margin:0; border-color:rgb(194, 181, 181)">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

 
  