.lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
  }
  .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: black;
    margin: -4px 0 0 -4px;
  }
  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
  }
  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
  }
  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
  }
  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
  }
  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
  }
  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
  }
  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
  }
  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .spinner{
    width:100%;
  }




  .card-action {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-action span {
    font-size: .8rem;
    color: RGB(101, 101, 114);
}

.card-action .btn {
    padding: .3rem .7rem;
    background: transparent;
    border: 1px solid #000;
    border-radius: 2px;
    color: #8C8C9F;
    cursor: pointer;
    transition: .2s ease-in-out;
}


.rate i {
  color: yellow;
}

.card-content {
  margin: 0;
  padding-top: 0;
  display: flex;
}

.card-content p {
  font-size: 14px;
  width: 60%;
  color: rgb(152, 152, 165);
}

.img {
  width: 50px;
  height: 50px;
  background: purple;
  border-radius: 50%;
  outline: none;
}

.name .one {
  background: orange;
}

.name,
.name .img {
  display: flex;
  align-items: center;
  gap: 10px;
}

.name .img {
  justify-content: center;
}

.card>* {
  padding: 1rem 1.2rem;
}

.card-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}




.card {
  width: 100%;
  margin-bottom: .7rem;
  background: white;
  border-radius: 5px;
  height: 150px;
  box-shadow: 10px ,10px, 10px,rgb(24, 22, 22);
  margin-top: 15px;
}


.delete-review{
  height: 30px;
  margin-top: 10px;
}



/* 
* Design by Robert Mayer:https://goo.gl/CJ7yC8
*
*I intentionally left out the line that was supposed to be below the subheader simply because I don't like how it looks.
*
* Chronicle Display Roman font was substituted for similar fonts from Google Fonts.
*/

body {
  background-color: #fdf1ec;
}

.wrapper {
  height: 420px;
  width: 954px;
  margin: 50px auto;
  border-radius: 7px 7px 7px 7px;
  /* VIA CSS MATIC https://goo.gl/cIbnS */
  -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
}

.product-img {
  float: left;
  height: 420px;
  width: 327px;
}

.product-img img {
  border-radius: 7px 0 0 7px;
}

.product-info {
  float: left;
  height: 420px;
  width: 327px;
  border-radius: 0 7px 10px 7px;
  background-color: #ffffff;
}

.product-text {
  height: 300px;
  width: 327px;
}

.product-text h1 {
  margin: 0 0 0 38px;
  padding-top: 52px;
  font-size: 34px;
  color: #474747;
}

.product-text h1,
.product-price-btn p {
  font-family: 'Bentham', serif;
}

.product-text h2 {
  margin: 0 0 47px 38px;
  font-size: 13px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #d2d2d2;
  letter-spacing: 0.2em;
}

.product-text p {
  height: 125px;
  margin: 0 0 0 38px;
  font-family: 'Playfair Display', serif;
  color: #8d8d8d;
  line-height: 1.7em;
  font-size: 15px;
  font-weight: lighter;
  overflow: hidden;
}

.product-price-btn {
  height: 103px;
  width: 327px;
  margin-top: 17px;
  position: relative;
  display:flex;
  justify-content: space-between;
  margin-top:30px;
}

.price{
 
  height: 50px;
  font-family: 'Trocchi', serif;
 
  color: #474747;
}

span {
  height: 50px;
  font-family: 'Suranna', serif;
  font-size: 34px;
}

.product-price-btn button {
  float: right;
  display: inline-block;
  height: 50px;
  width: 176px;
  margin: 0 40px 0 16px;
  box-sizing: border-box;
  border: transparent;
  border-radius: 60px;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #ffffff;
  background-color: rgb(255,193,8);
  cursor: pointer;
  outline: none;

}

.product-price-btn button:hover {
  background-color: black;
}
 
.quantity-input{
  height: 35%;
}








@media(min-width:321px){
  .product-text h2 {
    margin: 0 0 47px 38px;
    font-size: 3px;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    text-transform: uppercase;
    color: #d2d2d2;
    letter-spacing: 0.2em;
  }

  .wrapper{
    width:600px;
  }

  .product-text p {
    height: 125px;
    margin: 0 0 0 38px;
    font-family: 'Playfair Display', serif;
    color: #8d8d8d;
    line-height: 1.7em;
    font-size: 10px;
    font-weight: lighter;
    overflow: hidden;
  }

  .product-price-btn button {
    float: right;
    display: inline-block;
    height: 30px;
    width: 100px;
    margin: 0 40px 0 16px;
    box-sizing: border-box;
    border: transparent;
    border-radius: 60px;
    font-family: 'Raleway', sans-serif;
    font-size: 10px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #ffffff;
    background-color: rgb(255,193,8);
    cursor: pointer;
    outline: none;
  
  }


.product-img {
  float: left;
  height: 130px;
  width: 197px;
}

}


@media (min-width:481px)  {
  .wrapper{
    width:400px;
  }
    .product-img {
      float: left;
      height: 220px;
      width: 267px;
    }
  
    .product-text p {
      height: 125px;
      margin: 0 0 0 38px;
      font-family: 'Playfair Display', serif;
      color: #8d8d8d;
      line-height: 1.7em;
      font-size: 14px;
      font-weight: lighter;
      overflow: hidden;
    }
  
  }



  @media (min-width:641px)  {
    .wrapper{
      width:600px;
    }
      .product-img {
        float: left;
        height: 220px;
        width: 267px;
      }
    
      .product-text p {
        height: 125px;
        margin: 0 0 0 38px;
        font-family: 'Playfair Display', serif;
        color: #8d8d8d;
        line-height: 1.7em;
        font-size: 14px;
        font-weight: lighter;
        overflow: hidden;
      }
    
    }



@media (min-width:961px){
 
.wrapper{
  width:700px;
}
  .product-img {
    float: left;
    height: 220px;
    width: 267px;
  }

  .product-text p {
    height: 125px;
    margin: 0 0 0 38px;
    font-family: 'Playfair Display', serif;
    color: #8d8d8d;
    line-height: 1.7em;
    font-size: 14px;
    font-weight: lighter;
    overflow: hidden;
  }

}

@media (min-width:1025px){
 
  .wrapper{
    width:1000px;
  }
    .product-img {
      float: left;
      height: 220px;
      width: 267px;
    }
  
    .product-text {
      height: 340px;
      width: 687px;
    }

    .product-text p {
      height: 175px;
      margin: 0 0 0 38px;
      font-family: 'Playfair Display', serif;
      color: #8d8d8d;
      line-height: 1.7em;
      font-size: 14px;
      font-weight: lighter;
      overflow: hidden;
    }
  
    .product-price-btn button {
      float: right;
      display: inline-block;
      height: 40px;
      width: 200px;
      margin: 0 40px 0 16px;
      box-sizing: border-box;
      border: transparent;
      border-radius: 60px;
      font-family: 'Raleway', sans-serif;
      font-size: 13px;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 0.2em;
      color: #ffffff;
      background-color: rgb(255,193,8);
      cursor: pointer;
      outline: none;
    
    }
  
  
  .product-img {
    float: left;
    height: 230px;
    width: 297px;
  }
  
  }




@media (min-width:1281px){
 
  .wrapper{
    width:1280px;
  }
    .product-img {
      float: left;
      height: 220px;
      width: 267px;
    }
  
    .product-text p {
      height: 125px;
      margin: 0 0 0 38px;
      font-family: 'Playfair Display', serif;
      color: #8d8d8d;
      line-height: 1.7em;
      font-size: 14px;
      font-weight: lighter;
      overflow: hidden;
    }
  
  }



  

